<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.app.photo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/icon_app_2"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.Black">
        <activity
            android:name=".PhotoHome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contracts"
            android:label="@string/contractsPage" >
        </activity>
        <activity
            android:name=".Photos"
            android:label="@string/photosPage" >
        </activity>
        <activity
            android:name=".Grid"
            android:label="@string/gridPage" >
        </activity>
        <activity
            android:name=".PhotosSelected"
            android:label="@string/photosSelectedPage" >
        </activity>
          <activity
            android:name=".ContractInfoInput"
            android:label="@string/contractInfoInputPage" >
        </activity>
        <activity
            android:name=".ContractView">
        </activity>
        <activity
            android:name=".GridPage">
        </activity>
    </application>

</manifest>